{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    <h2> Problem 1 - Closest Stars </h2>
    <form action="/prob1" id="prob1form" method="POST">
        <div class="form-group">
          <label for="starID">Enter Star ID:</label>
          <input type="text" class="form-control" id="starID" name="starID">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> 
        </div>
{% endblock %}